
@model Testing.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Log in";
}

@section styles{
  <style>
      * {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
      }
      body {
          background-color: #ffffff;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%2374d14c' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%2328a8aa' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%2377c949' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%230095ab' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%2378c146' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%230080ab' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%237ab944' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23006ba6' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%237ab242' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%2300549b' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%237aaa40' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%231b3b88' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
          background-attachment: fixed;
          background-size: cover;
      }
      .login-section {
          width: 50%;
          margin: auto;
          display: flex;
          -webkit-justify-content: center;
          justify-content: center;
      }
      .footer-section{
          display:none;
      }
    </style>

}



<section class="login-section">
    
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                <h2 class="text-center">@ViewBag.Title.</h2>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-12">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-success" />
                        </div>
                    </div>

                }
            </section>
        </div>

</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}