<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sona Template">
    <meta name="keywords" content="Sona, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> GreenLand Hotals </title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/elegant-icons.css" rel="stylesheet" />
    <link href="~/Content/css/flaticon.css" rel="stylesheet" />
    <link href="~/Content/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/css/nice-select.css" rel="stylesheet" />
    <link href="~/Content/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/css/slicknav.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    @RenderSection("styles", required: false)

</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Section Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="canvas-open">
        <i class="icon_menu"></i>
    </div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <i class="icon_close"></i>
        </div>

        <nav class="mainmenu mobile-menu">
            <ul>
                <li class="active">
                    @Html.ActionLink("Home", "Index", "Home", null, null)
                </li>
                <li>  @Html.ActionLink("Room", "Index", "Room", null, null)</li>


            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="top-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-tripadvisor"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
        <ul class="top-widget">
            <li><i class="fa fa-phone"></i> (12) 345 67890</li>
            <li><i class="fa fa-envelope"></i> info.colorlib@gmail.com</li>
        </ul>
    </div>
    <!-- Offcanvas Menu Section End -->
    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="menu-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a href="./index.html">
                                <img src="~/Content/images/greenLand.png" width="60" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="nav-menu">
                            <nav class="mainmenu">
                                <ul>
                                    <li class="active">

                                        @Html.ActionLink("Home", "Index", "Home", null, null)
                                    </li>
                                    <li>  @Html.ActionLink("Room", "Index", "Room", null, null)</li>
                                </ul>
                            </nav>
                            <div class="nav-right ">
                                @if (User.Identity.IsAuthenticated)
                                {


                                    <nav class="mainmenu">
                                        <ul>
                                            <li>
                                                <p class="mr-2">@User.Identity.Name</p>


                                            </li>

                                            <li>


                                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
                                                {

                                                    @Html.AntiForgeryToken()

                                                    <button class="book-button-danger">       <i class="fa fa-sign-in" aria-hidden="true"></i> LogOff</button>

                                                }
                                            </li>

                                            <li>
                                                <button id="resvations" class="book-button mt-0 pt-0">
                                                    Reservations <span class="badge badge-light" id="ReservationNumber"></span>
                                                </button>
                                            </li>


                                        </ul>
                                    </nav>
                                }
                                else
                                {
                                    <div class="nav-menu">
                                        <nav class="mainmenu">
                                            <ul>
                                                <li>
                                                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                                                    @Html.ActionLink("Login", "Login", "Account", null, null)
                                                </li>


                                            </ul>
                                        </nav>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>





    @RenderBody();

    <div class="modal fade" id="resrvationModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Reservations</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="resrvationbody">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="avaiable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" id="avaliabelContainer">
               
             
               
            </div>
        </div>
    </div>


    <script src="~/Content/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/js/jquery-ui.min.js"></script>
    <script src="~/Content/js/jquery.slicknav.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/jquery.cookie.js"></script>
    <script src="~/Content/js/main.js"></script>
    <script src="~/Content/js/moment.min.js"></script>
    <script>


        function CreateTable(elements) {
            var tableElement = document.createElement("table");

            tableElement.classList.add("table");
            var header = document.createElement("tr");

            let roomNumber = document.createElement("td");
            roomNumber.innerText = "roomNumber"
            header.append(roomNumber);

            let CategoryNumber = document.createElement("td");
            CategoryNumber.innerText = "Category";
            header.append(CategoryNumber);


            let DepartureDate = document.createElement("td");
            DepartureDate.innerText = "DepartureDate";
            header.append(DepartureDate);


            let ReservationDate = document.createElement("td");
            ReservationDate.innerText = "ReservationDate";
            header.append(ReservationDate);

            let Price = document.createElement("td");
            Price.innerText = "Price";
            header.append(Price);

            let Status = document.createElement("td");
            Status.innerText = "Satus";
            header.append(Status);

            tableElement.append(header);
            for (var i of elements) {
                let tr = document.createElement("tr");

                let tdPrice = document.createElement("td");
                tdPrice.innerText = i.price;

                let tdroomNumber = document.createElement("td");
                let anchor = document.createElement("a");
                anchor.href = "/Room/Details/" + i.id;
                anchor.innerText = "Room";
                anchor.classList.add("btn");
                anchor.classList.add("btn-primary");
                tdroomNumber.append(anchor);

                let tdDepartureDate = document.createElement("td");
                tdDepartureDate.innerText = moment(i.DepartureDate).format('l');;

                let tdReservationDate = document.createElement("td");

                tdReservationDate.innerText = moment(i.ReservationDate).format('l');

                let tdcategory = document.createElement("td");
                tdcategory.innerText = i.category;

                let tdStatus = document.createElement("td");
                tdStatus.innerText = i.status;

                tr.append(tdroomNumber);
                tr.append(tdcategory);
                tr.append(tdDepartureDate);
                tr.append(tdReservationDate);
                tr.append(tdPrice);
                tr.append(tdStatus);
                tableElement.append(tr);
            }
            return tableElement;
        }
    </script>
    <script>
        $(document).ready(function () {

            if ($.cookie("UserReservation") != undefined) {
                let NumberOfElements = JSON.parse($.cookie("UserReservation"));
                $("#ReservationNumber").text(NumberOfElements.length);

            }
            $("#resvations").on("click", function () {

                $("#resrvationModel").modal("show");
                var element = JSON.parse($.cookie("UserReservation"));
                $("#resrvationbody").html(CreateTable(element));


            });

        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
