<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sona Template">
    <meta name="keywords" content="Sona, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> GreenLand Hotals </title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/elegant-icons.css" rel="stylesheet" />
    <link href="~/Content/css/flaticon.css" rel="stylesheet" />
    <link href="~/Content/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/css/nice-select.css" rel="stylesheet" />
    <link href="~/Content/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/css/slicknav.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Section Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="canvas-open">
        <i class="icon_menu"></i>
    </div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <i class="icon_close"></i>
        </div>
        
        <nav class="mainmenu mobile-menu">
            <ul>
                <li class="active">
                @Html.ActionLink("Home","Index","Home",null,null)
                </li>
                <li>  @Html.ActionLink("Room","Index","Room",null,null)</li>
                
              
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="top-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-tripadvisor"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
        <ul class="top-widget">
            <li><i class="fa fa-phone"></i> (12) 345 67890</li>
            <li><i class="fa fa-envelope"></i> info.colorlib@gmail.com</li>
        </ul>
    </div>
    <!-- Offcanvas Menu Section End -->
    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="menu-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a href="./index.html">
                                <img src="~/Content/images/greenLand.png" width="60" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="nav-menu">
                            <nav class="mainmenu">
                                <ul>
                                    <li class="active">
                                     
                                        @Html.ActionLink("Home", "Index", "Home",null,null)
                                    </li>
                                    <li>  @Html.ActionLink("Room", "Index", "Room",null,null)</li>
                                </ul>
                            </nav>
                            <div class="nav-right ">
                                @if (User.Identity.IsAuthenticated)
                                {
                                

                                    <nav class="mainmenu">
                                        <ul>
                                            <li><p>@User.Identity.Name</p>
                                            
                                            
                                            </li>
                                            <li>
                                                 
                                          
                                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post)) {

                                                    @Html.AntiForgeryToken()

                                                <button class="btn btn-danger">       <i class="fa fa-sign-in" aria-hidden="true"></i> LogOff</button>
                                                 
                                                }
                                            </li>


                                        </ul>
                                    </nav>
                                                }
                                else
                                {
                                    <div class="nav-menu">
                                        <nav class="mainmenu">
                                            <ul>
                                                <li>
                                                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                                                    @Html.ActionLink("Login", "Login", "Account", null, null)
                                                </li>


                                            </ul>
                                        </nav>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>





    @RenderBody();

  


    <script src="~/Content/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/js/jquery-ui.min.js"></script>
    <script src="~/Content/js/jquery.slicknav.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/main.js"></script>
    @RenderSection("Scripts",required:false)
</body>
</html>
